@import "./global.scss";

.navbar{
 
  
    .navbar-nav .nav-link{
        font-size: large;
        transition: all 0.3s ease-in;
        // &:hover{
        //     color: $orange;
        //     font-size: larger;
        //   }
    
    }
.navbar-nav .nav-link:hover {
    color: $orange; /* Change text color on hover (example: orange) */
 
   
  }


    .reg-btn{
       
        .btn-to{
            background-color: $orange !important;
            padding: 10px 25px !important;
            border-radius: 25px;
            color: white !important;
            margin-right: 10px !important;

            &:hover{
                background-color: $orange-shade !important;
            }
        }
    }

}
